:root{
    --uib-size: 4rem;
    --uib-speed: 1.2s;
    --uib-og-color: #f2f2f2;
    --uib-color: #474554;
    --uib-bg: #e8e8e8;
}
[data-theme="dark"] #preloader {
    background-color: #212121 !important;
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 101vh;
    z-index: 99999999;
    background-color: var(--uib-bg);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--uib-size);
}


#stop-scrolling {
    margin: 0 !important;
    height: 100% !important;
    overflow: hidden !important;
}

.loader {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 0 auto;
}

.loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* background: #7D2Ae8; */

    background: rgb(89, 29, 164);
    background: -moz-linear-gradient(180deg, rgba(89, 29, 164, 1) 0%, rgba(125, 42, 232, 1) 57%, rgba(29, 199, 233, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(89, 29, 164, 1) 0%, rgba(125, 42, 232, 1) 57%, rgba(29, 199, 233, 1) 100%);
    background: linear-gradient(180deg, rgba(89, 29, 164, 1) 0%, rgba(125, 42, 232, 1) 57%, rgba(29, 199, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#591da4", endColorstr="#1dc7e9", GradientType=1);

    -webkit-animation: loading-bounce 0.5s ease-in-out infinite alternate;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 0 var(--uib-color), -35px 50px 0 var(--uib-color), -70px 95px 0 var(--uib-color);
    box-shadow: 0 5px 0 var(--uib-color), -35px 50px 0 var(--uib-color), -70px 95px 0 var(--uib-color);
    -webkit-animation: loading-step 1s ease-in-out infinite;
    animation: loading-step 1s ease-in-out infinite;
}

@-webkit-keyframes loading-bounce {
    0% {
        -webkit-transform: scale(1, 0.7);
        transform: scale(1, 0.7);
    }

    40% {
        -webkit-transform: scale(0.8, 1.2);
        transform: scale(0.8, 1.2);
    }

    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    100% {
        bottom: 140px;
    }
}

@keyframes loading-bounce {
    0% {
        -webkit-transform: scale(1, 0.7);
        transform: scale(1, 0.7);
    }

    40% {
        -webkit-transform: scale(0.8, 1.2);
        transform: scale(0.8, 1.2);
    }

    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    100% {
        bottom: 140px;
    }
}

@-webkit-keyframes loading-step {
    0% {
        -webkit-box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 var(--uib-color),
            -35px 50px 0 var(--uib-color),
            -70px 90px 0 var(--uib-color);
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 var(--uib-color),
            -35px 50px 0 var(--uib-color),
            -70px 90px 0 var(--uib-color);
    }

    100% {
        -webkit-box-shadow: 0 10px 0 var(--uib-color),
            -35px 50px 0 var(--uib-color),
            -70px 90px 0 var(--uib-color),
            -70px 90px 0 rgba(0, 0, 0, 0);
        box-shadow: 0 10px 0 var(--uib-color),
            -35px 50px 0 var(--uib-color),
            -70px 90px 0 var(--uib-color),
            -70px 90px 0 rgba(0, 0, 0, 0);
    }
}

@keyframes loading-step {
    0% {
        -webkit-box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 var(--uib-color),
            -35px 50px 0 var(--uib-color),
            -70px 90px 0 var(--uib-color);
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 var(--uib-color),
            -35px 50px 0 var(--uib-color),
            -70px 90px 0 var(--uib-color);
    }

    100% {
        -webkit-box-shadow: 0 10px 0 var(--uib-color),
            -35px 50px 0 var(--uib-color),
            -70px 90px 0 var(--uib-color),
            -70px 90px 0 rgba(0, 0, 0, 0);
        box-shadow: 0 10px 0 var(--uib-color),
            -35px 50px 0 var(--uib-color),
            -70px 90px 0 var(--uib-color),
            -70px 90px 0 rgba(0, 0, 0, 0);
    }
}