/* Stopwatch */

.wrapper {
    user-select: none;
}

.wrapper .time {
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.09);
    padding: 0 10px;
}

.wrapper .time span {
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #333;
}

.time span.colon {
    width: 10px;
}

.time span.ms-colon,
.time span.millisecond {
    color: #7D2Ae8;
}

.wrapper .buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0 5px;
    color: #7D2Ae8;
    background: #fff;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.09);
}

.buttons button.active,
.buttons button.stopActive {
    pointer-events: none;
    opacity: 0.7;
}

button:disabled,
button[disabled] {
    background: hsla(0, 0%, 100%,0.5) !important;
    color: hsla(266, 81%, 54%,0.5) !important;
}
/* lap*/

.lap {
    width : 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.09);
}

.lap span {
    width: 70px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #333;
}
.lap i {
  font-size: 20px;
  display: inline;
}

.lap span.colon {
    width: 5px;
}

.lap span.ms-colon,
.lap span.millisecond {
    color: #7D2Ae8 !important;
}

.result{
    width: 24px!important;
    color: #7D2Ae8!important;
    font-weight: 700!important;
}
/* Navbar */


.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #7D2Ae8 !important;
    font-weight: 500;
}

.custom-tooltip {
    --bs-tooltip-bg: #f8f9fb;
}

#lastitem{
    visibility: hidden;
    opacity: 0;
}

/* Bulb */
.fa-lightbulb{
    font-size: 25px;
    float: right;
    /* color: red; */
}

                        /* NAVBAR SETTINGS */

.navbar-toggler {
    padding: unset;
    font-size: unset !important;
    line-height: unset !important;
    color: transparent !important;
    background-color: unset !important;
    border: none !important;
    border-radius: unset !important;
    transition: 0.5s !important;
}

.navbar-collapse {
    transition: 0.5s;
}


.responsiveNavBtn{
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    transform: translateY(100%) !important;
    padding: 15px !important;
}
.responsiveSwitchBtn{
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    margin: 11px 10px 10px 10px !important;
}


.burger {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #787887;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 1px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 5px;
}

.accordion-button::after {
    display: none !important;
}
.accordion-collapse{
    transition: 0.5s;
}